# Prisma v7 generates client code that imports @prisma/client-runtime-utils.
# This is an internal dependency of @prisma/client not hoisted by pnpm.
# See: https://github.com/prisma/prisma/issues/28581
# Fix: added @prisma/client-runtime-utils as a direct dependency in package.json
